.header {
	  height: 20%;
	  background-color: blue;
    text-align: center;
    font-size: 60;
    font-family: fantasy;
    color: #fff;    
}
.login-form {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .btn-wide {
    margin-left: 10%;
    display: block;
    width: 80%;
  }
  .login-form h8 {
    text-align: center;
    margin-bottom: 30px;
  }
  .link {
    color: blue !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
  .message {
    text-align: center;
    color: red;
  }