html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fff;
}
.header {
	height: 20%;
	background-color: blue;
    text-align: center;
    font-size: 60px;
    font-family: fantasy;
    color: #fff;
    
}
#registerBox {
    margin-left: 25%;
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-bottom: 30px;
    font-weight: bold;
}
#buttonBox {
    margin-top: 20px;
}
.custom-popover.popover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 5px);
  }
.link {
    color: blue !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
.btn-wide {
    margin-left: 32.5%;
    display: block;
    width: 35%;
    margin-top: 10px;
  }
.form-text {
    justify-content: center;
    display: flex;
}
.message {
    margin-top: 10px;
    text-align: center;
    color: red;
    float: left;
  }